.container{
  width: 100%;
  margin: 0 auto;
}
#map_container{
  position: relative;
}
@media (min-width: 991px) {
  .row {
    display: flex;
    justify-content: center;
  }
  .map-wrapper {
    align-self: center;
    position: relative;
  }
}
#map{
  margin: 0 auto;
  width: 80%;
  height: 0;
  overflow: hidden;
  padding-bottom: 60%;
  padding-top: 30px;
  position: relative;
}
.data-icon {
  height: 60px;
}
.current-data {
  font-size: 30px;
}